html {
	font: 100%/1.15 serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	}
	
body {
	font-family: Bookman, serif;
	background-color: #9ff;
	color: #033;
	}
	
header {
	font-family: impact;
	text-align: center;
	font-size: 2.4em;
	letter-spacing: .2em;
	line-height: .9em;
	margin: .2em;
	font-variant: small-caps;
	color: #f00;
	}

#hello {
	text-transform: uppercase;
	font-size: 3em;
	}

#my-name {
	font-size: 2em;
	}
	
#explanation {
	line-height: 1em;
	font-size: .6em;
	letter-spacing: .1em;
	}

#names {
	padding: 1.5em;
	text-align: left;
	columns: 9em 5;
	column-gap: 3em; 
	list-style-type: none;
	font-size: 2em;
	margin-left:.6em;
	margin-right: .6em;
	margin-top: .6em;
	margin-bottom: .6em;
	line-height: 1em;
	background-color: #fff;
	font-family: cursive;
	font-style: italic;
	}

#author {
	text-align: center;
	color: #f00;
	font-family: impact;
	font-size: 2em;
	}

#about {
	text-align: center;
	font-size: 1.4em;
	font-family: cursive;
	}
	
#expl {
	text-align: center;
	font-size: 1.3em;
	font-family: cursive;
	}